<h1>Invoices</h1>
<% @invoices.each do |invoice| %>
	<div class="col-md-4 col-md-offset-4">
		<% if current_user.type == "Drycleaner" %>
			<%= link_to "Delete", invoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
		<% end %>
		<%= link_to "#{invoice.name} Pickup Time: #{invoice.pickup.strftime('%a, %d %b %Y %H:%M')}", invoice_path(invoice) %>
	</div>
<% end %>

<div class="col-md-4 col-md-offset-4">
	<% if current_user.type == "Drycleaner" %>
		<%= link_to "New Invoice", new_invoice_path, class: 'btn btn-default' %>
	<% end %>
</div>
